{% extends 'base.html' %}

{% block title %}HOME {% endblock %}


{% block content %}


<div id="vue-app" class="row justify-content-center bg-white p-5 shadow rounded">
    <h1 class="display-6">
        BHAV App
    </h1>
    <small style="font-size: 15px;" class="text-muted lead">Search latest equity of shares.</small>
    <form>
        <div class="form-group">
            <input v-model="searchValue" class="form-control form-control-sm" type="text" v-on:input="searchShare" placeholder="Share Name">
        </div>
        <div class="form-group">
            <button onclick="clearSearch()" class="btn btn-primary" style="margin-top:5px;margin-right:5px;"> <i class="fa fa-ban"></i> Clear</button> 
            <a class="btn btn-success" href="/api/export" style="margin-top:5px;margin-right:5px;"> <i class="fa fa-download"></i> Export</button></a>
        </div>       
    </form>
    <div v-if="loading">Loading...</div>
    <div class="col-sm">

    </div>
    <div class="container vertical-scrollable horizontal-scrollable" style="overflow-y: auto; max-height:400px;">
        <table class="table responsive" >
            <thead class="thead-dark">
            <tr>
                <th scope="col">code</th>
                <th scope="col">name</th>
                <th scope="col">open</th>
                <th scope="col">high</th>
                <th scope="col">low</th>
                <th scope="col">close</th>
                <!-- code, name, open, high, low, close -->
            </tr>
            </thead>
            <tbody>
                <tr v-for="share in shares">
                    <th scope="row">[[ share.code ]]</th>
                    <td>[[ share.name ]]</td>
                    <td>[[ share.open ]]</td>
                    <td>[[ share.high ]]</td>
                    <td>[[ share.low ]]</td>
                    <td>[[ share.close ]]</td>
                </tr>
            </tbody>
        </table>
        <div v-if="errored">
            <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
        </div>
    </div>


</div>
{% endblock %}
{% block javascript %}
<script>

    let app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#vue-app',
        data: {
            shares: [],
            searchValue: null,
            loading: true,
            errored: false,
        },
        methods: {
            fetchShares() {
                axios
                    .get('/api/search')
                    .then(response => {
                        this.shares = response.data;
                        console.log(JSON.stringify(response.data))
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true
                    })
                    .finally(() => this.loading = false)
            },
            searchShare(){
                console.log("adios ", this.searchValue)
                axios
                    .get('/api/search?name='+this.searchValue)
                    .then(response => {
                        this.shares = response.data;
                        console.log(JSON.stringify(response.data))
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true
                    })
                    .finally(() => this.loading = false)                
            },
            clearSearch(){
                this.searchValue = ""
            }
        },
        mounted() {
            this.fetchShares();
        }
    });



</script>


{% endblock %}